{% extends 'base.html.twig' %}

{% block title %}Chapitres
{% endblock %}

{% block body %}
	<div class="container mt-3">
		<h1 class="text-center mb-3">Chapitres</h1>
		<div class="row">
			{% for chapter in chapters %}
				<div class="my-card-container shadow-sm m-3">
					<div class="my-card-content m-2">
						<div class="my-card-title">{{ chapter.chapter[0].Title }}</div>
						<div class="my-card-moves">{{ chapter.chapter[0].MovesString }}</div>

						<div class="my-card-button">
							<a href="{{ path('app_react_course', {'courseId': course.id, 'chapterId': chapter.id}) }}" class="btn btn-outline-secondary">Play Chess</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
