{% extends 'base.html.twig' %}

{% block title %}Liste des cours
{% endblock %}

{% block styles %}
	<style></style>
{% endblock %}

{% block body %}
	<div class="container mt-3">
		<h1 class="text-center mb-3">Liste des cours</h1>
		<div class="row">
			{% for course in courses %}
				<div class="col-md-6 my-card-container">
					<div class="my-card-grid shadow-sm mb-4">
						<div class="my-card-image">
                            <img src="{{vich_uploader_asset(course, 'imageFile')}}" alt="{{ course.title }}">
                        </div>
						<div class="my-card-title">{{ course.title }}</div>
						<p class="my-card-text">{{ course.description }}</p>
						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
								<button type="button" class="btn btn-sm btn-outline-secondary">+</button>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
