{% extends 'base.html.twig' %}

{% block title %}Liste des cours{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center mt-3">Liste des cours</h1>
    <ul>
        {% for course in courses %}
            <li>{{ course.title }}</li>
        {% endfor %}
    </ul>
{% endblock %}
