{% extends 'base.html.twig' %}

{% block title %}Mes cours
{% endblock %}

{% block body %}
	<div class="container mt-3">
		<h1 class="text-center mb-3">Mes cours</h1>
		<div class="row">
			{% for course in courses %}
				<div class="my-card-container shadow-sm m-3">
					<div class="my-card-image" style="background-image: url({{vich_uploader_asset(course, 'imageFile')}})"></div>
					<div class="my-card-content m-2">
						<div class="my-card-title">{{ course.title }}</div>
						<div class="my-card-description">{{ course.description }}</div>
						<div class="my-card-button">
							<a href="{{ path('app_courses_index', {'id': course.id}) }}" class="btn btn-outline-secondary">C'est parti</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
