@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#app {
    display: flex;
    height: 100vmin;
    background-color: #D0CCD0;
    user-select: none;
    align-items: center;
    justify-content: center;
}