{% extends 'base.html.twig' %}

{% block title %}Ajouter un cours{% endblock %}

{% block body %}
    <h1 class="text-center mt-3 mb-3">Ajouter un cours</h1>

    <div id="pgn-wrapper"></div>

{% block javascripts %}
    {{ encore_entry_script_tags('pgnWrapper') }}
{% endblock %}
    <a href="{{ path('app_courses_index') }}">retour à la liste</a>
{% endblock %}
