{% extends 'base.html.twig' %}

{% block title %}New Courses{% endblock %}

{% block body %}
    <h1>Create new Courses</h1>

    <div id="pgn-wrapper"></div>

{% block javascripts %}
    {{ encore_entry_script_tags('pgnWrapper') }}
{% endblock %}
    <a href="{{ path('app_courses_index') }}">back to list</a>
{% endblock %}
