#chessboard {
    height: 80vmin;
    width: 80vmin;
    display: grid;
    grid-template-columns: repeat(8, 10vmin);
    grid-template-rows: repeat(8, 10vmin);
    outline: none;
    background-color: rgba(228, 2, 2, 1);
    touch-action: none;
}

#chessboard:hover {
    cursor: pointer;
}

#promotion {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#promotion.hidden {
    display: none;
}

#promotion>.modalBody {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 40vmin;
    width: 10vmin;
    background-color: rgba(0, 0, 0, 0.6);
}

#promotion>.modalBody>div {
    height: 10vmin;
    width: 10vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(208, 204, 208, 1);
}

#promotion>.modalBody>div>div {
    height: 9vmin;
    width: 9vmin;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#promotion>.modalBody>div:hover {
    background-image: radial-gradient(rgb(208, 204, 208, 1) 0%, transparent 0%, rgb(224, 71, 51) 100%);
    border-radius: 0%;
}

.squareHighlight {
    position: relative;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.squareHighlight::before {
    content: "";
    width: 3vmin;
    height: 3vmin;
    /* background-color: rgba(0,0,0,0.5); */
    box-shadow: inset 0 0 3vmin 3vmin rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.squareHighlightOccupied {
    /* box-shadow: inset 0 0 3vmin 1px rgba(54, 54, 54, 0.5); */
    border-radius: 3vmin;
}

.pushMove{
    text-align: right;
}
.readFen{
    text-align: center;
}

@media screen and (max-width:800px) {
    #app {
        display: block;
        width: 100%;
        background-color: rgb(187, 36, 36);
    }

    #chessboard {
        height: 100vmin;
        width: 100vmin;
        grid-template-columns: repeat(8, 12.5vmin);
        grid-template-rows: repeat(8, 12.5vmin);
    }

    .piece {
        width: 12.5vmin;
        height: 12.5vmin;
    }

	#promotion>.modalBody {
		height: 50vmin;
		width: 12.5vmin;
	}
	
	#promotion>.modalBody>div {
		height: 12.5vmin;
		width: 12.5vmin;
	}
	
	#promotion>.modalBody>div>div {
		height: 10vmin;
		width: 10vmin;
	}
}